#label_0 #keyword{
    background: #ffd2cc;
}
#label_1 #keyword{
    background: #1982c4;
}
#label_2 #keyword{
    background: #ffca3a;
}
#label_3 #keyword{
    background: #9c89b8;
}
#label_4 #keyword{
    background: #2ec4b6;
}
#label_5 #keyword{
    background: #ff595e;
}
#label_6 #keyword{
    background: #6a4c93;
}
#label_7 #keyword{
    background: #118ab2;
}
#label_8 #keyword{
    background: #83c5be;
}
#label_9 #keyword{
    background: #f0a6ca;
}
#label_10 #keyword{
    background: #9a8c98;
}